body {
    background: #dddddd;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 20px;
    margin: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 8px 1px #3d3d3d;

}

#pageholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#timebtn {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
}*/


#timechoice {
    width: 300px;
    border: 1px solid gray;
}

#containertitle {
    font-size: 22px;
    font-family: arial;
    margin-bottom: 20px;
}

#filepath {
    width: 300px;
    border: 1px solid gray;
}

#titlebar {
    font-size: 26px;
    font-weight: bold;
    font-family: arial;
    text-align: center;
    padding-bottom: 20px;
}

#main {
    text-align: center;
}

#textbox {
    width: 700px;
    height: 200px;
    margin-bottom: 10px;
}
